<!DOCTYPE html>
<p class="lead">いつも聞いてるプレイリストに一曲だけ偶然の出会いを</p>
<ul>
  <li>Youtubeに転がってる曲で自分だけのプレイリストを作れます</li>
  <li>ランダムで知らない曲が紛れ込んできたりします</li>
  <li>いいかもーと思ったらその場で"Hook"(フック)してプレイリストに取り込めます</li>
  <li>ひまなときはRadio Modeで知らない曲ばっかり聞いてみると良い出会いがあったりなかったり</li>
  <li><img id="in_modal_thumbnail" src="images/soundhook.png"> - <a href="https://twitter.com/sound_hook" target="_blank">@sound_hook</a> on Twitter</li>
</ul>
<small>Copyright otiai10 All right reserved</small>
