<script type="text/javascript" src="javascripts/tutorial.js"></script>
<link rel="stylesheet" href="stylesheets/tutorial.css">
<div class="tutorial-hidden" id="tutorial01">その１<br>プレイリストに１曲違う曲が混じっています。<br>順番はランダムなので、とりあえず聞き流しとくのをオススメします。<br>なお、混じる曲数は設定で変えれます。</div>
<div class="tutorial-hidden" id="tutorial02">その２<br>動画の操作はボタンから行えます。<br>一曲リピートや、動画を隠して音楽だけモードも出来ます。<br>ショートカットも用意していますが、もう説明するスペースがありません (&gtω&lt</div>
<div class="tutorial-hidden" id="tutorial03">その３<br>「気に食わないなー」って思ったらここから削除。設定からすぐ回復できるので、その日の気分で気軽に削除できます。また、混じって来た曲はここからマイリストに取り込むことができます。</div>
<div class="tutorial-hidden" id="tutorial04">その４<br><img class="in-tutorial" src="/images/glyphicons/png/glyphicons_158_playlist.png">はマイプレイリスト、<img class="in-tutorial" src="/images/glyphicons/png/glyphicons_032_wifi_alt.png">は「ラジオモード」。ラジオモードでは、他のリストに入ってる曲を聞き流せます。もちろんそこから取り込むこと(Hook)も可能です。</div>
<div class="tutorial-hidden" id="tutorial05">さいごに<br>自分のアイコン押すと設定とかヘルプとか色々メニュー出ます。<br>「Listory」は、今までのマイプレイリストの履歴が見れたり、一括削除が出来たります。まあ困ったらヘルプ見てよ。</div>
<div class="tutorial-hidden" id="tutorial06"><i>Have a Good Hook!</i></div>
