<!DOCTYPE html>
<div id="selection" class="info_section">
    <h1>SoundHook利用規約</h1>
    <p>SoundHook（以下「当サイト」といいます。）上で提供するサービス（以下「本サービス」といいます。）の利用については、SoundHook利用規約（以下「本利用規約」といいます。）への同意が必要です。</p>
</div>

<div id="selection_0" class="info_section">
    <h2>第１条　本利用規約の適用及び変更等</h2>
    <ol>
        <li>
            ユーザーが本サービス利用することで本利用規約に違反し又は第三者の権利を侵害したことによって生じた、運営主体である落合展(以下「運営」)に対する全てのクレームや請求については、ユーザーの責任と費用負担の下で解決するものとし、これにより運営に損害が生じた場合には賠償するものとします。
        </li>
    </ol>
</div>


<div id="selection_1" class="info_section">
<h2>第２条　本サービス利用上の注意</h2>
<ol>
    <li>
        ユーザーは、Twitterアカウントを含む、本サービスの利用に際して当サイトに登録した情報については、ユーザー自身の責任において、登録、変更、及び管理するものとします。
    </li>
    <li>
        Twitterに登録しているユーザーのTwitterアカウントによって本サービスが利用された場合には、そのTwitterアカウントを保有するユーザーによって本サービスが利用されたものとみなされます。そのような利用によって生じた全ての結果、責任、及び損害等については、そのTwitterアカウントを保有するユーザーに全て帰属するものとします。
    </li>
    <li>
        ユーザーのTwitterアカウントの不正使用によって第三者に損害が生じた場合、そのユーザーは、第三者に対して、その損害の賠償をしなければなりません。
    </li>
    <li>
        ユーザーのTwitterアカウント及びそれに関わる登録情報が虚偽又は事実に反するものであることによって、ユーザーが被ったあらゆる損害又は不利益について、運営は一切責任を負わないものします。
    </li>
    <li>
        運営は、本サービスにおいてユーザーが投稿又は編集した一切の情報（以下「ユーザーコンテンツ」といいます。）につき本利用規約に抵触すると判断した場合には、ユーザーへの事前の通知又は予告なしに、そのユーザーコンテンツの全部若しくは一部を非公開とし、又は削除をすることができるものとします。
    </li>
    <li>
        運営は、運営又は他のユーザーの権利、財産、若しくはサービス等の保護、又は第三者の生命、身体、若しくは財産の保護等ために必要があると判断した場合には、かかる保護のために必要な範囲内でユーザーコンテンツを裁判所、捜査機関等の公的機関に開示及び提供することができるものとします。
    </li>
    <li>
        ユーザーは、一部のサービス及びコンテンツを除き、本サービスを無料で利用できるものとします。ただし、本サービス利用に伴う通信料金は、ユーザーの負担となります。
    </li>
</ol>
</div>

<div id="selection_2" class="info_section">
<h2>第３条　個人情報</h2>
<p>運営は、ユーザーの個人情報を運営が別途定めるプライバシーポリシーに従って適切に取り扱うものとします。</p>
<p>運営は、以下に定める場合を除き、ユーザーの同意を得ずに、第三者に個人情報を提供することはありません。</p>
<ol>
    <li>個人情報保護法その他の法令により認められている場合</li>
    <li>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</li>
    <li>本サービスに関する業務の全部又は一部を第三者に委託する場合</li>
    <li>運営に対して守秘義務を負う者に対して開示する場合</li>
    <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合</li>
    <li>裁判所、検察庁、警察、税務署、及び弁護士会等又はこれらに準ずる権限を持つ機関から、個人情報の提供を求められた場合</li>
    <li>合併、営業譲渡その他の事由により本サービスの運営主体の変更に伴って、本サービスの運営を承継する者に開示する場合</li>
    <li>その他、運営の権利行使に際して必要と判断される場合</li>
</ol>
</div>

<div id="selection_5" class="info_section">
<h2>第４条　禁止行為について</h2>
<p>ユーザーは、本サービスの利用にあたって、以下に規定する各行為に該当する投稿のまとめ及び編集、コメントの投稿、並びにその他一切の行為（以下に規定する各行為に該当するTwitterの投稿をまとめ又は編集の対象に含める行為を含みます）を行ってはいけません。ユーザーの故意・過失を問わず、以下の各行為に該当すると運営が判断した場合、運営は、そのユーザーに対して事前の通知又は予告をすることなく該当するまとめ若しくは編集又はコメント等の削除若しくは非公開措置、本サービスの利用停止措置又は利用機能制限等の必要な措置を採ることがあります。なお、運営は、それらの措置又はユーザーが本条に違反したことにより受けた措置についての問い合わせ等は一切受け付けておりません。</p>
<ol>
    <li>法令、公序良俗若しくは社会通念に反し又は反するおそれのある行為</li>
    <li>犯罪的行為若しくは反社会的行為、又はこれを援助、助長、促進、若しくは関与する行為</li>
    <li>運営又は第三者の著作権、特許権、商標権及びその他の知的財産権、若しくは企業秘密等の知的財産権を侵害する行為又は侵害するおそれのある行為</li>
    <li>運営若しくは第三者を不当に差別し若しくは誹謗中傷し、又は運営若しくは第三者の信用若しくは名誉、プライバシー権、パブリシティ権、肖像権、若しくはその他一切の権利を侵害する行為若しくは侵害するおそれのある行為</li>
    <li>運営が本サービスを提供する地域の法令等に違反する行為</li>
    <li>運営又は第三者に対して損害又は不利益を与えるおそれのある行為</li>
    <li>国籍、民族、人種、社会的身分、性別、思想、信教、又は年齢等に関する差別的な表現と一般ユーザーが感じ得る行為</li>
    <li>殺害又は傷害等の残虐的・暴力的・グロテスクな写真・画像・動画・その他の表現、又はその他一般ユーザーが不快に感じる得る写真・画像・動画・その他の表現などに関する行為</li>
    <li>殺人、強盗、その他暴力的行為、自殺、自傷行為、若しくは規制薬物の乱用等の犯罪又は自己加害行為等の推奨、促進、誘発、若しくは助長等となるおそれのある行為</li>
    <li>児童ポルノ、児童虐待、若しくは性行為や性器等のわいせつな画像等の一切の表現、又は性行為若しくは性行為と同等の表現に関する行為（モザイク処理又は美術性の有無に問わず禁止されます。）</li>
    <li>わいせつ、児童売買春又は児童ポルノ等に関するビデオ映像（修正の有無を問いません）のダウンロードサイト（ストリーミングも含む）等へのリンク掲載行為</li>
    <li>アダルトサイト又はアダルト商品の販売サイト等へ誘導するリンクの掲載行為</li>
    <li>従前面識のない異性との出会い等を求め、又はそのような出会いを誘導することを目的とする行為</li>
    <li>違法な賭博やギャンブルを行わせ、又はこれらへの参加を推奨、誘発、勧誘、又は助長等する行為</li>
    <li>その他、未成年者の健全な成長又は人格形成等に対して害がある行為</li>
    <li>運営が許可したものではない、商業用の宣伝、広告又は勧誘を目的とする行為</li>
    <li>アフィリエイトのリンクを含むまとめ及びコメント掲載行為</li>
    <li>マルチ商法、無限連鎖講、チェーンメール、リードメール等の他人を勧誘する内容のまとめ又はコメント掲載行為</li>
    <li>個人の住所、氏名、メールアドレス、電話番号、金融機関の口座番号等の個人を特定しうる情報を含むまとめ又はコメントの掲載行為</li>
    <li>ウィルス等のコンピュータープログラムに支障をきたすもの、又はワンクリック詐欺サイト若しくはフィッシング詐欺サイト等の害悪のあるものの流布を目的とする内容のまとめ又はコメントの掲載行為</li>
    <li>第三者の住所、氏名、メールアドレス、電話番号等の個人を特定する情報を取得する目的の行為</li>
    <li>虚偽又は第三者の誤解を不当に招くような情報等をまとめ又はコメントの行為</li>
    <li>本サービスに利用にあたって、通常想定される利用の範囲を超え、サーバーに不当に負担をかけ、若しくはこれを助長する行為、又はその他本サイトの運営、本サービスの提供若しくは他のユーザーによる本サービスの利用を妨害し、若しくはそれらに支障をきたすおそれのある行為</li>
    <li>運営が許可していないにもかかわらず、ユーザーが本サービスの全部又は一部を商業目的で利用する行為</li>
    <li>第三者になりすます行為</li>
    <li>運営が許可していない宗教的又は政治的活動に関する行為</li>
    <li>Twitterの利用規約に反する行為</li>
    <li>その他、運営が不適切と判断する行為</li>
</ol>
</div>

<div id="selection_6" class="info_section">
<h2>第５条　免責事項</h2>
<ol>
    <li>運営は、事前にユーザーに通知することなく、いつでも本サービスを変更、停止又は中止することができます。運営は、本サービスの変更、停止若しくは中止、又は事件・事故等による本サービスの変更、停止、又は中止により、ユーザーの本サービスの利用に支障が生じた場合であっても、運営はユーザーに対して一切責任を負いません。</li>
    <li>運営は、本サービスのサーバに保存されたユーザーがまとめあるいは編集したTwitterの投稿内容等のデータについて、その毀損・滅失に備えて複製を行うことはしておりません。運営は、サーバに保存したデータが何らかの事由により毀損・滅失した場合において、それらを復元することはしません。</li>
    <li>運営は、ユーザーによる本サービスの利用に関連して生じた一切の損害について責任を負いません。</li>
</ol>
</div>

<div id="selection_7" class="info_section">
<h2>第６条　ユーザーの責任</h2>
    <ol>
        <li>本サービスを通し、ユーザーが他のユーザーとの間で、又は第三者との間で生じた紛争は、そのユーザーの自己の責任で解決するものとし、運営、他のユーザー、又はユーザー以外の第三者が損害を被った場合は、ユーザーはこれを賠償する。</li>
        <li>ユーザーが本サービス利用することで本利用規約に違反し又は第三者の権利を侵害したことによって生じた、運営に対する全てのクレームや請求については、ユーザーの責任と費用負担の下で解決するものとし、これにより運営に損害が生じた場合には賠償するものとします。</li>
        <li>ユーザーは、その他、ユーザーによる本サービスの利用によって、運営に生じた全ての損害について賠償するものとします。</li>
    </ol>
</div>

<div id="selection_8" class="info_section">
<h2>第７条　本サービス機能の運営</h2>
    <ol>
        <li>
            ユーザーは、自己の作成したユーザーコンテンツの管理義務を負うものとし、他のユーザーからの削除・非公開などの要求に対して迅速かつ誠実に対応するものとする。
        </li>
        <li>
            ユーザーは、自己の作成したユーザーコンテンツに関する他のユーザーのコメントの投稿に対しても、管理義務を負うものとし、また、そのような投稿についても、ユーザー自身が投稿・編集したまとめ又はコメントと同様の扱いがなされることを承諾する。
        </li>
        <li>
            事由の如何を問わず、ユーザーコンテンツの作成者が、ユーザーコンテンツの管理の存続が困難となった場合、ユーザーコンテンツは一定期間後に削除又は非公開とされる場合があります。
        </li>
        <li>
            運営は、故意又は過失を問わず、ユーザーが本利用規約に違反する場合、そのユーザーコンテンツを削除することができます。
        </li>
    </ol>
</div>
<div class="info_section">
平成２４年１０月１２日　制定
</div>
