<!DOCTYPE html>
<script type="text/javascript" src="javascripts/japanese.js"></script>
<script type="text/javascript" src="javascripts/home_ui_action.js"></script>
<script type="text/javascript" src="javascripts/social.js"></script>
<link rel="stylesheet" href="stylesheets/index.css">
<%- partial('partials/facebookplugin.inc.ejs') %>
<% if(help){ %>
  <%- partial('partials/tutorial.inc.ejs') %>
<% } %>
<!-- list-changer -->
<div id="list-changer" class="wrapper">
  <ul class="ul-list-changer">
    <li class="tab_li active">
      <a id="list0" class="tab_anc" list="0" href="#" rel="tooltip" data-original-title="Your playlist" data-placement="left"><img src="/images/glyphicons/png/glyphicons_158_playlist.png"/></a>
    </li>
    <li class="tab_li">
      <a class="tab_anc" list="100" href="#" rel="tooltip" data-original-title="Radio Mode" data-placement="left"><img id="img_radio_mode" src="/images/glyphicons/png/glyphicons_032_wifi_alt.png"/></a>
    </li>
  </ul>
</div><!-- /list-changer -->
<!--list-indicator-->
<div id="list-indicator">
  <div id="indicator"></div>
</div><!--/list-indicator-->

<!-- logined visit -->
<div class="" id="playlist01">
  <ul class="unstyled">
    <li>
      <span id="indx_num" class="lead m_title"></span><span class="lead m_title"> -- </span><span id="music-title" class="lead m_title"></span>
      <div class="music-attr" style="text-align:right; float:right;">
        <div class="share">
          <a id="tweet_to_share" class="ready"><img src="images/Twitter.png"/></a>
          <a id="facebook_to_share" class="ready"><img src="images/Facebook.png"/></a>
        </div>
        <span class="pull_btn_area"></span>
      </div>
      <hr style="clear:both">
    </li>
    <li>
      <table class="controler">
        <tbody>
          <tr calss="tb_hover_ignore">
            <td><button id="prev_btn" class="btn btn-large ready"><i class="icon-step-backward"></i></button></td>
            <td><button id="play_btn" class="btn btn-large ready"><i class="icon-play"></i></button></td>
            <td><button id="next_btn" class="btn btn-large ready"><i class="icon-step-forward"></i></button></td>
            <td id="repeat_mode">
              <button id="switch_repeat_mode" class="btn btn-large ready" enabled="0"><img src="images/repeat-1.png"/></button>
            </td>
            <td><button id="info_btn" class="btn btn-large ready"><i class="icon-resize-small"></i></button></td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <div id="video_tl_container">
        <div id="video_container">
          <div id="video"></div>
        </div>
        <div id="tl_container">
        </div>
      </div>
      <div class="keybind-exp-area">
        <div class="keybind-exp" id="arrow-right">→ : Next</div>
        <div class="keybind-exp" id="arrow-left" >← : Previous</div>
        <div class="keybind-exp" id="arrow-up"   >↑ : Vol Up</div>
        <div class="keybind-exp" id="arrow-down" >↓ : Vol Down</div>
      </div>
    </li>
  </ul>
</div>
<div id="vol-action">
  <span>30</span>
</div>
