<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <!--script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/keybind.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css"/>
    <link rel="shorcut icon" href="images/fav.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="Sound,sound,Hook,hook,soundhook,SoundHook">
    <meta name="description" content="いつも聞いてるプレイリストに、一曲だけ偶然の出会いを。知らない音楽と良い感じに遭遇するウェブオーディオサービス「SoundHook サウンドフック」">
    <meta property="og:title" content="soundhook.net"/>
    <meta property="og:url" content="http://soundhook.net"/>
    <meta property="og:description" content="いつも聞いてるプレイリストに、一曲だけ偶然の出会いを。知らない音楽と良い感じに遭遇するウェブオーディオサービス「SoundHook サウンドフック」">
    <meta property="og:image" content="http://soundhook.net/images/og_image.png"/>
  </head>
  <body>
    <!-- This is header: the first part of three -->
    <%- partial('partials/header.inc.ejs') %>
    <!-- END of header -->

    <!-- This is main: the second part of three -->
    <div id="main" class="fill">
      <div class="contents">
        <%- body %>
      </div>
    </div>
    <!-- END of main -->

    <!-- This is footer: the third part of three -->
    <div id="footer" class="fill">
      <div class="contents">
        <hr class="in_footer">
        <ul class="ul footer">
          <% if(session.user_profile){%>
          <li class="li footer" style="text-align:right">
            <!-- Button to trigger modal -->
            <a id="foot_title" href="#myModal" role="button" class="footer" data-toggle="modal">SoundHook</a><br>
          </li>
          <%}%>
          <li class="li footer">
            <a href="http://otiai10.com/" target="_blank" class="footer">運営について</a>
          </li>
          <li class="li footer">
            <a href="https://twitter.com/otiai10" class="footer">お問い合わせ</a>
          </li>
          <li class="li footer">
            <a href="./privacypolicy" class="footer">プライバシーポリシー</a>
          </li>
          <li class="li footer">
            <a href="./usepolicy" class="footer">利用規約</a>
          </li>
        </ul>
        <br><span style="text-align:right" class="footer">Copyright © 2012 otiai10</span>
      </div>
    </div>
    <!-- END of footer -->

    <!-- div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="myModalLabel" class="lead"><b>Introductions</b></h3>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <%- partial('partials/modal.inc.ejs') %>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <a href="http://otiai10.com/products/soundhook/" target="_blank">More about soundhoook</a>
      </div>
    </div>

  </body>
</html>
