<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/privacy_policy.css" type="text/css"/>
<div id="main-container" class="main-container">
  <h1>プライバシーポリシー</h1>
  <%- partial('partials/privacy_policy.inc.ejs') %>
</div>
