<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/privacy_policy.css" type="text/css"/>

<div class="wrapper">
  <div id="main-container" class="main-container">
    <%- partial('partials/use_policy.inc.ejs') %>
  </div>

</div><!--/.wrapper-->
