<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/privacy_policy.css" type="text/css"/>

<div class="wrapper">
  <div id="main-container" class="main-container">
    <h1>SoundHookは音楽サービスです.</h1>
    <%- partial('partials/use_policy.inc.ejs') %>
    <h1>There is no adult contents!!!!!!!!!!!</h1>
  </div>

</div><!--/.wrapper-->
