<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/welcome.css">

<!-- page01 -->
<div class="inline_center">
  <!--div class="img-container">
    <div class="img-exp">
      <img src="/images/exp.png">
    </div>
    <div class="img-man">
      <img src="/images/man.png">
    </div>
  </div-->
  <p class="lead welcome">
    どうも、SoundHookです<br>
    <span class="sub">まずはてきとうにプレイリストが必要です</span>
  </p>
  <form action="/" method="POST">
    <input type="text" name="keyword01" placeholder="アーティスト名でもいいよ"><br>
    <input type="text" name="keyword02" placeholder="曲名でもいいよ"><br>
    <input type="submit" class="btn btn-large btn-inverse" value="YouTubeから取得"/>
  </form>
  <div>
    <p class="notice">
      <span>だいじなことその１</span><br>
      SoundHook (サウンドフック) は、<br>
      YouTube上にある音楽でマイリストをつくる<br>
      どこにでもありそうな音楽サービスです。
    </p>
  </div>
</div><!--/.inline_center-->


<!-- page02 -->
